/dev/package-lock.json
/dev/node_modules/
/node_modules/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
\.idea
/dev/dist/
/**/*.log
/dev/src/Client/client/node_modules/**/*
