<p-toast position="top-center" key="tc"></p-toast>

<ng-container class="container">
    <tr>
      <th>Discount Catagory</th>
      <th *ngIf="DiscountTypeThatWasChosen !== ''">Discount On {{discountTypes}}</th>
      <th>Percent</th>
      <th style="color: white"></th>
    </tr>
    <tr>
      <td>
        <p-dropdown
        [style]="{ 'margin-left': '20px', width: '220px' }"
        [options]="discountTypes"
        [(ngModel)]="newDiscountType"
        optionLabel="type"
        [showClear]="true"
        (onChange)="chosenDiscountType()"
      ></p-dropdown>
      </td>
      <td>
        <p-dropdown
        *ngIf="DiscountTypeThatWasChosen !== 'product'"
        [style]="{ 'margin-left': '20px', width: '220px' }"
        [options]="discountObjRolldown"
        [(ngModel)]="newDiscountObj"
        optionLabel="name"
        [showClear]="true"
      ></p-dropdown>
      </td>
<td>
  <input
    [style]="{ 'margin-left': '20px', width: '120px' }"
    type="number"
    pInputText
    [(ngModel)]="newDiscountPercent"
  />
</td>


  </tr>
      <p-button
        [style]="{ 'margin-left': '20px' }"
        name="loginbtn"
        [disabled]="newDiscountPercent > 0 && newDiscountPercent <= 100"
        (click)="addNewDiscount()"
        >Add Discount</p-button
      >
  </ng-container>