<div class="header">
  <h1>Shops</h1>
</div>
<th><input *ngIf="memberRoleType === ADMIN" [(ngModel)]="newShopName" type="text" pInputText placeholder="Enter Shop Name"></th>
<th><p-button *ngIf="memberRoleType === ADMIN" [disabled]="newShopName === ''" name="addShop" (click)="addShop()">Add New Shop</p-button></th>


<p-table [value]="shops">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th style="color: white;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shop class="body-line !important">
        <tr>
            <td class="font-bold ml-2 !important">{{shop.name}}"</td>
            <td>{{shop.status}}</td>

            <td><button pButton type="button" class="p-button-secondary" label="Show products" (click)="showProducts(shop.id)"></button></td>
            <td><button *ngIf="memberRoleType === FOUNDER" pButton type="button" class="p-button-secondary" label="Close Shop" (click)="closeShop(shop.id)"></button></td>
        </tr>
    </ng-template>
</p-table>
