<p-toast position="top-center" key="tc"></p-toast>

<div class="header">
  <h1>Welcome To Shop</h1>
  <h1>{{ shopName }}</h1>
</div>

<div class="container">

    <p-button
    name="addProduct"
    (onClick)="wantToAddProduct = true"
    >Add New Product</p-button>

    <p-button
    name="addDiscount"
    (onClick)="wantToAddDiscount = true"
    >Add Discount</p-button>

    <p-button
    name="closeShop"
    (onClick)="closeShop()"
    >Close Shop</p-button>

    <app-Add-Product [session]="session" [shopId]="shop.ID"></app-Add-Product>
    <app-add-discount [session]="session" [shopId]="shop.ID" ></app-add-discount>
  
</div>
















<p-table [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th style="color: white"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product class="body-line !important">
    <tr>
      <td class="font-bold ml-2 !important">{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.rate }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <p-button
          name="addToCartBtn"
          [disabled]="product.quantityToCart === 0"
          (click)="addProductToCart(product.id,product.name, product.quantityToCart)"
          >Add To Cart</p-button
        >
      </td>
      <td>
        <p-inputNumber
          [(ngModel)]="product.quantityToCart"
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
          [max]="product.quantity"
        >
        </p-inputNumber>
      </td>
      <td>
        <button
          *ngIf="memberRoleType === OWNER"
          pButton
          style="width: 10px"
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
