<p-toast position="top-center" key="tc"></p-toast>

<div class="header">
  <h1>Welcome To Shop</h1>
  <h1>{{ shopName }}</h1>
</div>

<div class="container">
  <div class="container" style="margin: 10px;">
    <p-button
    name="addProduct"
    (onClick)="wantToAddProduct = true; wantToAddDiscount = false"
    >Add New Product</p-button>

    <p-button
    name="addDiscount"
    (onClick)="wantToAddProduct = false; wantToAddDiscount = true"
    >Add Discount</p-button>

    <p-button
    name="closeShop"
    (onClick)="closeShop()"
    >Close Shop</p-button>
  </div>

    <app-add-Product *ngIf="wantToAddProduct" [session]="session" [shopId]="shop.ID" (finishAddProduct)="finishAddProduct($event)"></app-add-Product>
    <app-add-discount *ngIf="wantToAddDiscount" [session]="session" [shopId]="shop.ID" (finishAddDiscount)="finishAddDiscount($event)" [products]="products"></app-add-discount>
  
</div>


<p-table [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity To Add</th>
      <th></th>
      <th style="color: white"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product class="body-line !important">
    <tr>
      <td class="font-bold ml-2 !important">{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.rate }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <span class="p-float-label">
        <input
        [style]="{ 'margin-left': '20px', width: '70px' }"
        type="number"
        pInputText
        [min]="0"
        [max]="product.quantity"
        placeholder="Quantity to Add"
        [(ngModel)]="product.quantityToCart"
      />
        </span>
      </td>
      <td>
        <p-button
          name="addToCartBtn"
          [disabled]="product.quantityToCart === 0"
          (click)="addProductToCart(product.id,product.name, product.quantityToCart)"
          >Add To Cart</p-button
        >
      </td>
      <td>
        <button
          pButton
          style="width: 10px"
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
