.login{
  display:grid;
  grid-auto-flow: column;
  padding-left: 20px;
  height: 100px;
  justify-content: left;
  align-content: space-evenly;
  border: 1px solid darkslategrey;
  grid-gap: 20px;
}
.btngroup{
  padding-left: 100%;
  text-align: right;
  display:grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}
button {
  width:150px;
  background-color: #607D8B;
  border: 1px solid darkslategray;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
}


/* Clear floats (clearfix hack) */
button:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
button:hover {
  background-color: #505050;
}

