  <ng-container class="container btngroup">
    <input
      [disabled]="disable"
      type="text"
      pInputText
      placeholder="Username"
      [(ngModel)]="username"
      #Username
    />
    <input
      [disabled]="disable"
      type="password"
      pInputText
      placeholder="Password"
      [(ngModel)]="password"
      #Password
    />
      <p-button
        class="btn-primary btn"
        name="loginbtn"
        [disabled]="username === '' || password === '' || disable"
        (click)="loginClick(Username.value, Password.value)"
        >Login</p-button
      >
      <!-- <a href="/signup"><button name="signupbtn">Sign-Up</button></a> -->
    </ng-container> 