<p-table [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th style="color: white;"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Product class="body-line !important">
    <tr>
      <td class="font-bold ml-2 !important">{{Product.name}}</td>
      <td>{{Product.description}}</td>
      <td>{{Product.discountPrice}}</td>
      <button pButton type="button" class="p-button-secondary" label="Modify Quatity" routerLink="/shops/{{Product.id}}"></button>
      <button pButton type="button" class="p-button-secondary" label="Remove" routerLink="/shops/{{Product.id}}"></button>
    </tr>
  </ng-template>
</p-table>
<ng-template pTemplate="header">
  <tr>
    <th>Total price</th>
    <button pButton type="button" class="p-button-secondary" label="Checkout" routerLink="/shops/checkout"></button>
    <th style="color: white;"></th>
  </tr>
</ng-template>
